[submodule "Executor/ubpf"]
	path = vendor/ubpf
	url = https://github.com/rlane/ubpf.git
[submodule "vendor/jsoncpp"]
	path = vendor/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/aDTNPlus"]
	path = vendor/aDTNPlus
	url = git@github.com:GerardGarcia/aDTNPlus.git
[submodule "vendor/xxHash"]
	path = vendor/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "inih"]
	path = vendor/inih
	url = https://github.com/benhoyt/inih.git
[submodule "vendor/bcc"]
	path = vendor/bcc
	url = https://github.com/iovisor/bcc.git
